<!-- <form> 
    <div class="form-group">
      <div>
        Choose dish:<SELECT id="myform" name="id" multiple class="form-control">
            {% for j in dishlist %}
                <OPTION value={{j[0]}}>{{j[1]}}</OPTION>
            {% endfor %}
    </SELECT>
</div>
</div>
</form> -->

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<title> input </title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='newstyle.css') }}">		
    </head>
<body></br></br></br></br></br>
    <img src="{{url_for('static', filename='fast-food.png')}}" style="object-fit:scale-down;object-position: right;width:200px;height:300px;"/>
    <div class="container">
    <h1 class="form__title">Foodflix</h1>
    <form method="POST" enctype="multipart/form-data">
    Choose dish:<SELECT id="myform" name="id" class="form-control selectpicker" data-live-search="true" multiple>>
        {% for j in dishlist %}
            <OPTION value={{j[0]}}>{{j[1]}}</OPTION>
        {% endfor %}
    </SELECT>   

    <button type="submit" class="form__button">Publish</button>
    </form>
    </div>


    <script>
        $(document).ready(function(){
            $('.selectpicker').selectpicker();
              
            $('#skills').change(function(){
              $('#hidden_skills').val($('#skills').val());
            });
              
            $('#multiple_select_form').on('submit', function(event){
                event.preventDefault();
                if($('#skills').val() != '')
                {
                    var form_data = $(this).serialize();
                    $.ajax({
                        url:"/ajax_add",
                        method:"POST",
                        data:form_data,
                        success:function(data)
                        {
                        //console.log(data);
                        $('#hidden_skills').val('');
                        $('.selectpicker').selectpicker('val', '');
                        alert(data);
                        }
                    })
                }
                else
                {
                    alert("Please select framework");
                    return false;
                }
            });
        });
        </script>
</body>
</html>