<!-- Store this code in 'register.html' file inside the 'templates' folder -->

<html>
	<head>
		<meta charset="UTF-8">
		<title> Register </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='newstyle.css') }}">			
	</head>
	<body></br></br></br></br></br>
		<img src="{{url_for('static', filename='fast-food.png')}}" style="object-fit:scale-down;object-position: right;width:200px;height:300px;"/>
		<div class="container">
			<h1 class="form__title">Register</h1>
			<div class="form__message form__message--error"></div>
            <div class="form__input-group">
				<form action="{{ url_for('register') }}" method="post">
				<div class="form__title">{{ msg }}</div>
					<input id="first name" name="firstName" type="text" placeholder="Enter Your Username" class="form__input"/></br></br>
					<input id="lastName" name="lastName" type="text" placeholder="Enter Your Username" class="form__input"/></br></br>
					<input id="password" name="password" type="password" placeholder="Enter Your Password" class="form__input"/></br></br>
					<input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="form__input"/></br></br>
					<input type="submit" class="form__button" value="Sign Up"></br>
				</form>
			<p class="form__link">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
		</div>
		</div>
	</body>
</html>
